@using Ficus
@using FicusFrontend.Components.CaseInfo.ContextValues
@using FicusFrontend.Components.CaseInfo.ContextValues.ColorsLog
@using FicusFrontend.Layout.Models
@using FicusFrontend.Services.Cases
@using FicusFrontend.Utils
@using JetBrains.Lifetimes
@using static Ficus.GrpcContextValue;
@using FicusFrontend.Components.CaseInfo.ContextValues.EventLogInfo
@using FicusFrontend.Components.CaseInfo.ContextValues.Canvas.PetriNet
@using FicusFrontend.Components.CaseInfo.ContextValues.Canvas.Graph

@inherits ComponentBase

@inject IProcessesService ProcessService
@inject ILogger<CaseInfo> Logger

@{
  var title = myProcessCaseData switch
  {
    { } => myProcessCaseData.ProcessData.ProcessName + " " + myProcessCaseData.Case.Name,
    _ => "The case was not yet selected."
  };
}

<PageTitle>@title</PageTitle>

<div class="case-info-header centered-text">
  @title
</div>

<div class="pipeline-parts-context-values-outer-container">
  @foreach (var (result, index) in myPipelinePartsExecutionResults.Zip(Enumerable.Range(0, myPipelinePartsExecutionResults.Count)))
  {
    <div class="pipeline-parts-context-values-inner-container">
      <div class="pipeline-part-name-container" @onclick="_ => HandleExecutionResultTitleClicked(result.Value)">
        <div class="pipeline-part-name-index">
          @index
        </div>
        <div class="pipeline-part-name">
          @result.Value.PipelinePartName  
        </div>
      </div>

      @{
        var expanded = IsExpanded(result.Value);

        string GetClass(string baseClass, string expandedClass) => $"{baseClass} {(expanded ? expandedClass : string.Empty)}";

        var outerContainerClass = GetClass("pipeline-part-context-values-outer-container", "outer-container-checked");
        var innerContainerClass = GetClass("pipeline-part-context-values-inner-container", "inner-container-checked");
      }

      <div class="@outerContainerClass">
        <div class="@innerContainerClass">
          @{
            var contextValues = result.Value.ContextValues.Select(c => c.Value).ToList();
          }

          <div class="pipeline-part-context-values-margin-container">
            @foreach (var fragment in CreateRenderersFor(result.Value.PipelinePartName, contextValues))
            {
              <div>
                @fragment
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>

@code
{
  private static readonly Key<bool> ourExpandedKey = new(nameof(ourExpandedKey));
  
  private readonly Dictionary<Guid, PipelinePartExecutionResult> myPipelinePartsExecutionResults = [];
  private readonly SequentialLifetimes myLifetimes = new(Lifetime.Eternal);

  private ProcessCaseData? myProcessCaseData;

  [Parameter] public required ProcessCaseData ProcessCaseData { get; set; }

  protected override void OnParametersSet()
  {
    base.OnParametersSet();

    if (ReferenceEquals(ProcessCaseData, myProcessCaseData)) return;

    myProcessCaseData = ProcessCaseData;

    var values = myProcessCaseData.ProcessData.ProcessCases[myProcessCaseData.Case.Name].ContextValues;
    values.FlowIntoWithCallback(myLifetimes.Next(), myPipelinePartsExecutionResults, StateHasChanged);
  }

  private bool IsExpanded(PipelinePartExecutionResult result) => result.UserData.GetOrCreate(ourExpandedKey, static () => true);

  private void HandleExecutionResultTitleClicked(PipelinePartExecutionResult result)
  {
    result.UserData.PutData(ourExpandedKey, !result.UserData.GetOrCreate(ourExpandedKey, static () => true));
    StateHasChanged();
  }

  private IEnumerable<RenderFragment> CreateRenderersFor(string pipelinePartName, List<GrpcContextValue> contextValues)
  {
    return contextValues switch
    {
      [var singleValue] => [FindRendererFor(singleValue)],
      _ => FindRenderersFor(pipelinePartName, contextValues)
    };
  }

  private RenderFragment FindRendererFor(GrpcContextValue contextValue)
  {
    return contextValue.ContextValueCase switch
    {
      ContextValueOneofCase.EventLogInfo => @<EventLogInfoRenderer EventLogInfo="contextValue.EventLogInfo"/>,
      ContextValueOneofCase.ColorsLog => @<ColorsEventLogRenderer @key="Guid.NewGuid()"
                                                                  Log="contextValue.ColorsLog"/>,

      ContextValueOneofCase.PetriNet => @<PetriNetRenderer @key="Guid.NewGuid()"
                                                           PetriNet="contextValue.PetriNet"/>,

      ContextValueOneofCase.Graph => @<GraphRenderer @key="Guid.NewGuid()" Graph="contextValue.Graph"
                                                     ProcessCaseData="myProcessCaseData"/>,

      _ => @<RendererNotFoundComponent ContextValueType="@contextValue.ContextValueCase.ToString()"/>
    };
  }

  private IEnumerable<RenderFragment> FindRenderersFor(string pipelinePartName, List<GrpcContextValue> contextValues)
  {
    if (PipelinePartsGroups.GraphAnnotationParts.Contains(pipelinePartName) &&
        CreateAnnotatedGraphRenderer(pipelinePartName, contextValues) is { } graphRenderer)
    {
      return [graphRenderer];
    }

    if (PipelinePartsGroups.PetriNetsAnnotationParts.Contains(pipelinePartName) &&
        CreateAnnotatedPetriNetRenderer(pipelinePartName, contextValues) is { } petriNetRenderer)
    {
      return [petriNetRenderer];
    }

    return [];
  }

  private RenderFragment? CreateAnnotatedGraphRenderer(string pipelinePartName, List<GrpcContextValue> contextValues)
  {
    var graph = Logger.TryGetContextValue(pipelinePartName, contextValues, ContextValueOneofCase.Graph, c => c.Graph);
    var annotation = Logger.TryGetContextValue(pipelinePartName, contextValues, ContextValueOneofCase.Annotation, c => c.Annotation);

    if (graph is null) return null;

    return @<GraphRenderer @key="Guid.NewGuid()" Graph="graph" ProcessCaseData="myProcessCaseData"
                           Annotation="annotation"/>;
  }

  private RenderFragment? CreateAnnotatedPetriNetRenderer(string pipelinePartName, List<GrpcContextValue> contextValues)
  {
    var petriNet = Logger.TryGetContextValue(pipelinePartName, contextValues, ContextValueOneofCase.PetriNet, c => c.PetriNet);
    var annotation = Logger.TryGetContextValue(pipelinePartName, contextValues, ContextValueOneofCase.Annotation, c => c.Annotation);

    if (petriNet is null) return null;

    return @<PetriNetRenderer @key="Guid.NewGuid()" PetriNet="petriNet" Annotation="annotation"/>;
  }
}