@using FicusDashboard.Components.CaseInfo.ContextValues.Canvas.Graph.Flamegraph.Context
<div style="display: flex; flex-direction: row; height: @(Block.CalculateHeight() * FlamegraphConstants.Height)px">
  @switch (Block)
  {
    case HorizontalCompositeBlock:
    {
      foreach (var (index, block) in Block.InnerBlocks.Index())
      {
        @RenderBlock(block)

        if (index < Block.InnerBlocks.Count - 1 &&
            block is not VerticalCompositeBlock &&
            Block.InnerBlocks[index + 1] is HorizontalCompositeBlock or SequentialBasicBlock)
        {
          <div style="height: 100%; width: @(FlamegraphConstants.EdgeWidth)px;" class="flamegraph-edge">
          </div>
        }
      }

      break;
    }
    case VerticalCompositeBlock:
    {
      <div style="display: flex; flex-direction: column;">
        @foreach (var block in Block.InnerBlocks)
        {
          switch (block)
          {
            case EdgeBlock:
              <div style="height: @(FlamegraphConstants.Height * block.CalculateHeight())px; width: 100%;"
                   class="flamegraph-edge">
              </div>

              break;
            case SeparatorBlock:
              <div style="height: @(FlamegraphConstants.Height * block.CalculateHeight())px; width: 100%"
                   class="flamegraph-separator-edge">
              </div>

              break;
            default:
            {
              var height = block.CalculateHeight() * FlamegraphConstants.Height;

              <div style="display: flex; flex-direction: row; height: @(height)px; width: 100%;">
                <div style="height: 100%; width: @(FlamegraphConstants.EdgeWidth)px;" class="flamegraph-edge">
                </div>

                @RenderBlock(block)

                <div style="height: 100%; flex-grow: 1; min-width: @(FlamegraphConstants.EdgeWidth)px"
                     class="flamegraph-edge">
                </div>
              </div>

              break;
            }
          }
        }
      </div>
      break;
    }
  }
</div>

@code {
  [Parameter] public required CompositeBlockBase Block { get; init; }
  [Parameter] public required FlamegraphContext Context { get; init; }

  private RenderFragment RenderBlock(BasicBlock block) => block switch
  {
    CompositeBlockBase compositeBlock => @<CompositeBlockRenderer Block="compositeBlock" Context="Context"/>,
    SequentialBasicBlock sequentialBasicBlock => @<SequentialBlockRenderer Block="sequentialBasicBlock"
                                                                           Context="Context"/>,
    _ => throw new ArgumentOutOfRangeException(nameof(block))
  };

}
