<div style="display: flex; flex-direction: row; height: @(Block.CalculateHeight() * FlamegraphConstants.NodeHeight)px">
  @if (Block is HorizontalCompositeBlock hBLock)
  {
    @foreach (var (index, block) in Block.InnerBlocks.Index())
    {
      @RenderBlock(block)

      if (index < Block.InnerBlocks.Count - 1)
      {
        <div style="height: 100%; width: @(FlamegraphConstants.EdgeWidth)px;" class="flamegraph-edge">
        </div>
      }
    }
  }
  else if (Block is VerticalCompositeBlock vBlock)
  {
    <div style="height: 100%;" class="flamegraph-node">
      @vBlock.StartNode
    </div>

    <div style="display: flex; flex-direction: column;">
      @foreach (var block in Block.InnerBlocks)
      {
        var height = block.CalculateHeight() * FlamegraphConstants.NodeHeight;

        @if (block is EdgeBlock)
        {
          <div style="height: 100%; width: 100%;" class="flamegraph-edge">
          </div>
        }
        else
        {
          <div style="display: flex; flex-direction: row; height: @(height)px;">
            <div style="height: 100%; width: @(FlamegraphConstants.EdgeWidth)px;" class="flamegraph-edge">
            </div>

            @RenderBlock(block)
          
            <div style="height: 100%; width: @(FlamegraphConstants.EdgeWidth)px; flex-grow: 1" class="flamegraph-edge">
            </div>
          </div>
        }

      }
    </div>

    <div style="height: 100%;" class="flamegraph-node">
      @vBlock.EndNode
    </div>
  }
</div>

@code {
  [Parameter] public required CompositeBlockBase Block { get; init; }

  private RenderFragment RenderBlock(BasicBlock block)
  {
    return block switch
    {
      CompositeBlockBase compositeBlock => @<CompositeBlockRenderer Block="compositeBlock"/>,
      EdgeBlock => @<div style="height: @(FlamegraphConstants.NodeHeight)px; width: 100%" class="edge"></div>,
      SequentialBasicBlock sequentialBasicBlock => @<SequentialBlockRenderer Block="sequentialBasicBlock"/>,
      _ => throw new ArgumentOutOfRangeException(nameof(block))
    };
  }

}
