@using FicusDashboard.Components.CaseInfo.ContextValues.Canvas.Graph.Flamegraph.Context

@{
  var height = Block.CalculateHeight() * FlamegraphConstants.Height;
}

<div style="display: flex; flex-direction: row; height: max(@(height)px, 100%)">
  @switch (Block)
  {
    case HorizontalCompositeBlock:
    {
      foreach (var (index, block) in Block.InnerBlocks.Index())
      {
        @RenderBlock(block)

        if (index < Block.InnerBlocks.Count - 1 &&
            block is not VerticalCompositeBlock &&
            Block.InnerBlocks[index + 1] is HorizontalCompositeBlock or SequentialBasicBlock)
        {
          var background = string.Empty;
          if (block.GetLastNode() is { } lastNode && Block.InnerBlocks[index + 1].GetFirstNode() is { } nextNode)
          {
            background = Context.GetEdgePerformanceColor(lastNode, nextNode);
          }

          <div style="height: 100%; width: @(FlamegraphConstants.EdgeWidth)px; background: @background !important;"
               class="flamegraph-edge">
          </div>
        }
      }

      break;
    }
    case VerticalCompositeBlock verticalBlock:
    {
      <div style="display: flex; flex-direction: column;">
        @foreach (var block in Block.InnerBlocks)
        {
          switch (block)
          {
            case EdgeBlock edgeBlock:
              var color = Context.GetEdgePerformanceColor(edgeBlock.FromNode, edgeBlock.ToNode);
              height = FlamegraphConstants.Height * block.CalculateHeight();
              var heightStr = $"{height}px";

              <EdgeRenderer Width="100%" Height="@heightStr" Color="@color"/>

              break;
            case SeparatorBlock:
              <div style="height: @(FlamegraphConstants.Height * block.CalculateHeight())px; width: 100%"
                   class="flamegraph-separator-edge">
              </div>

              break;
            case CompositeBlockBase compositeBlock:
            {
              height = block.CalculateHeight() * FlamegraphConstants.Height;
              var background = string.Empty;

              <div style="display: flex; flex-direction: row; height: @(height)px; width: 100%;">
                @if (compositeBlock is HorizontalCompositeBlock { InnerBlocks: { Count: > 0 } items } horizontalBlock &&
                     items[0] is not VerticalCompositeBlock)
                {
                  if (horizontalBlock.GetFirstNode() is { } firstNode)
                  {
                    background = $"{Context.GetEdgePerformanceColor(verticalBlock.FromNode, firstNode)}";
                  }

                  var width = $"{FlamegraphConstants.EdgeWidth}px";
                  <EdgeRenderer Width="@width" Height="100%" Color="@background"/>
                }

                @RenderBlock(block)

                @{
                  background = string.Empty;
                  if (block.GetLastNode() is { } lastNode)
                  {
                    background = Context.GetEdgePerformanceColor(lastNode, verticalBlock.ToNode);
                  }
                }

                <div style="height: 100%; flex-grow: 1; min-width: @(FlamegraphConstants.EdgeWidth)px;">
                  <EdgeRenderer Width="100%" Height="100%" Color="@background"/>
                </div>
              </div>

              break;
            }
          }
        }
      </div>
      break;
    }
  }
</div>

@code {
  [Parameter] public required CompositeBlockBase Block { get; init; }
  [Parameter] public required FlamegraphRenderingContext Context { get; init; }

  private RenderFragment RenderBlock(BasicBlock block) => block switch
  {
    CompositeBlockBase compositeBlock => @<CompositeBlockRenderer Block="compositeBlock" Context="Context"/>,
    SequentialBasicBlock sequentialBasicBlock => @<SequentialBlockRenderer Block="sequentialBasicBlock"
                                                                           Context="Context"/>,
    _ => throw new ArgumentOutOfRangeException(nameof(block))
  };

}
