<div style="display: flex; flex-direction: row; height: @(Block.CalculateHeight() * FlamegraphConstants.NodeHeight)px">
  @switch (Block)
  {
    case HorizontalCompositeBlock:
    {
      foreach (var (index, block) in Block.InnerBlocks.Index())
      {
        @RenderBlock(block)

        if (index < Block.InnerBlocks.Count - 1)
        {
          <div style="height: 100%; width: @(FlamegraphConstants.EdgeWidth)px;" class="flamegraph-edge">
          </div>
        }
      }

      break;
    }
    case VerticalCompositeBlock vBlock:
    {
      <div style="height: 100%;" class="flamegraph-node">
        @Context.IdsToNodes[vBlock.StartNode].Data
      </div>

      <div style="display: flex; flex-direction: column;">
        @foreach (var (index, block) in Block.InnerBlocks.Index())
        {
          var height = block.CalculateHeight() * FlamegraphConstants.NodeHeight;

          if (block is EdgeBlock)
          {
            <div style="height: 100%; width: 100%;" class="flamegraph-edge">
            </div>
          }
          else
          {
            <div style="display: flex; flex-direction: row; height: @(height)px;">
              <div style="height: 100%; width: @(FlamegraphConstants.EdgeWidth)px;" class="flamegraph-edge">
              </div>

              @RenderBlock(block)

              <div style="height: 100%; width: @(FlamegraphConstants.EdgeWidth)px; flex-grow: 1"
                   class="flamegraph-edge">
              </div>
            </div>
          }

          @if (index < Block.InnerBlocks.Count - 1)
          {
            <div class="flamegraph-separator-edge" style="width: 100%; height: @(FlamegraphConstants.SeparatorHeight)px;">
            </div>
          }
        }
      </div>

      <div style="height: 100%;" class="flamegraph-node">
        @Context.IdsToNodes[vBlock.EndNode].Data
      </div>

      break;
    }
  }
</div>

@code {
  [Parameter] public required CompositeBlockBase Block { get; init; }
  [Parameter] public required FlamegraphContext Context { get; init; }

  private RenderFragment RenderBlock(BasicBlock block) => block switch
  {
    CompositeBlockBase compositeBlock => @<CompositeBlockRenderer Block="compositeBlock" Context="Context"/>,
    EdgeBlock => @<div style="height: @(FlamegraphConstants.NodeHeight)px; width: 100%" class="edge"></div>,
    SequentialBasicBlock sequentialBasicBlock => @<SequentialBlockRenderer Block="sequentialBasicBlock" Context="Context"/>,
    _ => throw new ArgumentOutOfRangeException(nameof(block))
  };

}
