@inject IEntitiesColors Colors;

@using FicusDashboard.Components.CaseInfo.ContextValues.Canvas.Graph.Flamegraph.Context
@using FicusDashboard.Services

@if (State is null)
{
  return;
}

<div style="@Context.MinMainDim: 100%; display: flex; flex-direction: @Context.SecondFlexDirection;">
  @{
    var overallObjectsCount = State.Select(t => t.ObjectIds.Count).Sum(); 
  }

  @foreach (var typeState in State.OrderBy(t => t.TypeName))
  {
    @if (typeState.ObjectIds.Count == 0) continue;

    var typeObjectsMainDim = $"{Math.Floor((double)typeState.ObjectIds.Count * 100 / overallObjectsCount)}%";
    <div style="background: @Colors.GetOrCreateColor(typeState.TypeName);
                @Context.MainDim: @typeObjectsMainDim;
                @Context.SecondDim: 20px;">
    </div>
  }
</div>

@code {
  [Parameter] public required FlamegraphRenderingContext Context { get; init; }
  [Parameter] public required List<TypeObjects>? State { get; init; }
}