@using FicusDashboard.Components.CaseInfo.ContextValues.Canvas.Graph.Flamegraph.Context
<div style="min-height: @(FlamegraphConstants.Height)px; display: flex; flex-direction: row;">
  @foreach (var (index, node) in Block.NodesSequence.Index())
  {
    var height = FlamegraphConstants.Height * Block.CalculateHeight();

    <div style="min-height: @(height)px; width: @(FlamegraphConstants.NodeWidth)px;"
         class="flamegraph-node">
      @Context.Context.IdsToNodes[node].Data
    </div>

    @if (index >= Block.NodesSequence.Count - 1) continue;

    var enhancedEdge = Context.GetEnhancedEdge(node, Block.NodesSequence[index + 1]);
    var width = $"{FlamegraphConstants.EdgeWidth}px";

    <EdgeRenderer Height="100%" Width="@width" EnhancedEdge="@enhancedEdge"/>
  }
</div>

@code {
  [Parameter] public required SequentialBasicBlock Block { get; init; }
  [Parameter] public required FlamegraphRenderingContext Context { get; init; }
}