@inject IEntitiesColors Colors;

@using FicusDashboard.Components.CaseInfo.ContextValues.Canvas.Graph.Flamegraph.Context
@using FicusDashboard.Services

<div style="background: @Colors.GetOrCreateColor(TypeName);
@Context.MainDim: 100%;
@Context.SecondDim: 20px;
@GetBorderStyle();"
     class="flex-centered">
  <div style="@Context.WritingMode;" class="flamegraph-ocel-annotation">
    @TypeName
  </div>
</div>

@code {
  [Parameter] public required FlamegraphRenderingContext Context { get; init; }
  [Parameter] public required string TypeName { get; init; }
  [Parameter] public required bool IsLast { get; init; }
  [Parameter] public required bool IsLeftSide { get; init; }


  private string GetBorderStyle() => Context.LeftToRight switch
  {
    true => $"border-{(IsLeftSide ? "left" : "right")}: solid 1px white;" + (IsLast ? string.Empty : "border-bottom: solid 1px white"),
    _ => $"border-{(IsLeftSide ? "top" : "bottom")}: solid 1px white;" + (IsLast ? string.Empty : "border-right: solid 1px white")
  };

}