@using BlazorBootstrap
@using FicusDashboard.Components.CaseInfo.ContextValues.Canvas.Graph.Flamegraph.Context

@{
  var mainDim = FlamegraphConstants.MainDimPx * MainDim;
  var objectsState = Context.GetNodeObjectsState(Node);
  var initialState = objectsState?.InitialState;
  var finalState = objectsState?.FinalState;
}

<div style="@Context.MinMainDim: @(mainDim)px; 
            @Context.MinSecondDim: @(FlamegraphConstants.NodeMinSecondDimPx)px;
            display: flex;
            flex-direction: @Context.MainFlexDirection;"
     class="flamegraph-node">
  @if (Context.RenderOcelAnnotation)
  {
    <NodesObjectStateRenderer Context="Context"
                              NodeId="Node"
                              State="@(initialState ?? finalState)" 
                              IsInitialState="@true"/> 
  }

  <Tooltip Title="@string.Join('\n',  Context.GetNodeName(Node))"
           Style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;"
           Class="flamegraph-node-title-container">
    <div style="@Context.WritingMode;
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: @(FlamegraphConstants.NodeMinSecondDimPx)px;
                flex-direction: column;">
      @foreach (var eventClass in Context.GetNodeName(Node))
      {
        <div style="@Context.MaxMainDim: @(FlamegraphConstants.NodeMaxTextMainDimPx)px"
             class="flamegraph-node-title">
          @eventClass
        </div>
      }
    </div>
  </Tooltip>

  @if (Context.RenderOcelAnnotation)
  {
    <NodesObjectStateRenderer Context="Context"
                              NodeId="Node"
                              State="finalState" 
                              IsInitialState="@false"/> 
  }
</div>

@code {
  [Parameter] public required FlamegraphRenderingContext Context { get; init; }
  [Parameter] public required ulong Node { get; init; }
  [Parameter] public required double MainDim { get; init; }
}