@using BlazorBootstrap
@using FicusDashboard.Components.CaseInfo.ContextValues.Canvas.Graph.Flamegraph.Context

@{
  var mainDim = FlamegraphConstants.MainDimPx * MainDim;
  var objectsState = Context.GetNodeObjectsState(Node);
  var initialState = objectsState?.InitialState;
  var finalState = objectsState?.FinalState;
}

<div style="@Context.MinMainDim: @(mainDim)px; 
            @Context.MinSecondDim: @(FlamegraphConstants.NodeMinSecondDimPx)px;
            display: flex;
            flex-direction: @Context.MainFlexDirection;"
     class="flamegraph-node">
  @if (Context.RenderOcelAnnotation)
  {
    <NodesObjectStateRenderer Context="Context"
                              NodeId="Node"
                              State="@(initialState ?? finalState)" 
                              IsInitialState="@true"/> 
  }

  <div style="@Context.WritingMode;
              display: flex;
              justify-content: center;
              align-items: center;
              @Context.MinSecondDim: @(FlamegraphConstants.NodeMinSecondDimPx)px;"
       class="flamegraph-node-title-container">
    @foreach (var eventClass in Context.GetNodeName(Node))
    {
      <Tooltip Title="@eventClass">
        <div style="@Context.MaxMainDim: @(FlamegraphConstants.NodeMaxTextMainDimPx)px"
             class="flamegraph-node-title">
          @eventClass
        </div>
      </Tooltip>
    }
  </div>

  @if (Context.RenderOcelAnnotation)
  {
    <NodesObjectStateRenderer Context="Context"
                              NodeId="Node"
                              State="finalState" 
                              IsInitialState="@false"/> 
  }
</div>

@code {
  [Parameter] public required FlamegraphRenderingContext Context { get; init; }
  [Parameter] public required ulong Node { get; init; }
  [Parameter] public required double MainDim { get; init; }
}