@inject IEntitiesColors Colors;

@using FicusDashboard.Components.CaseInfo.ContextValues.Canvas.Graph.Flamegraph.Context
@using FicusDashboard.Services

@{
  var mainDim = FlamegraphConstants.MainDimPx * MainDim;
  var objectsState = Context.GetNodeObjectsState(Node);
  var initialState = objectsState?.InitialState;
  var finalState = objectsState?.FinalState;
}

<div style="@Context.MinMainDim: @(mainDim)px; 
            @Context.MinSecondDim: @(FlamegraphConstants.NodeWidthPx)px;
            display: flex;
            flex-direction: @Context.MainFlexDirection;"
     class="flamegraph-node">
  <NodesObjectStateRenderer Context="Context" State="@(initialState ?? finalState)"/>

  <div style="@Context.WritingMode; display: flex; justify-content: center; align-items: center;">
    @foreach (var eventClass in Context.GetNodeName(Node))
    {
      <div style="text-overflow: ellipsis; white-space: wrap; flex-grow: 1;">
        @eventClass
      </div>
    }
  </div>

  <NodesObjectStateRenderer Context="Context" State="finalState"/>
</div>

@code {
  [Parameter] public required FlamegraphRenderingContext Context { get; init; }
  [Parameter] public required ulong Node { get; init; }
  [Parameter] public required double MainDim { get; init; }
}