@using FicusDashboard.Components.CaseInfo.ContextValues.Canvas.Graph.Flamegraph.Context

@if (State is null)
{
  return;
}

@{
  var overallObjectsCount = State.Select(t => t.ObjectIds.Count).Sum();
  var typeStates = State
    .OrderBy(t => t.TypeName)
    .Where(t => t.ObjectIds.Count > 0)
    .Select(ts =>
    {
      var width = $"{Math.Floor((double)ts.ObjectIds.Count * 100 / overallObjectsCount)}%";
      return (ts.TypeName, width, ts.ObjectIds);
    })
    .ToList();
}

<div style="@Context.MinMainDim: 100%; display: flex; flex-direction: @Context.SecondFlexDirection;">
  @foreach (var (name, width, objectsIds) in typeStates)
  {
    <div style="display: flex; flex-direction: @Context.MainFlexDirection; @Context.MainDim: @width;">
      @if (IsInitialState)
      {
        <NodeObjectsStateObjectsBlock Context="Context" ObjectsIds="objectsIds" TypeName="@name"/> 
      }

      <NodeObjectsStateTypeBlock Context="Context" TypeName="@name"/>

      @if (!IsInitialState)
      {
        <NodeObjectsStateObjectsBlock Context="Context" ObjectsIds="objectsIds" TypeName="@name"/>
      }
    </div>
  }
</div>

@code {
  [Parameter] public required bool IsInitialState { get; init; }
  [Parameter] public required FlamegraphRenderingContext Context { get; init; }
  [Parameter] public required List<TypeObjects>? State { get; init; }
  [Parameter] public required bool TypeNamesFirst { get; init; }
}