<div>
  @Title
</div>

<div style="width: 100px">
  <input class="input-number"
         min="@Min"
         max="@Max"
         value="@CurrentValue"
         title="@Title"
         @onchange="@(e => CurrentValue = e.Value is { } value ? double.Parse((string)value) : CurrentValue)" />
</div>

@code {
  [Parameter] public required double InitialValue { get; init; }
  [Parameter] public required string Title { get; init; }
  [Parameter] public required double Max { get; init; }
  [Parameter] public required double Min { get; init; }


  public double CurrentValue { get; private set; }


  protected override void OnParametersSet()
  {
    CurrentValue = InitialValue;
    base.OnParametersSet();
  }

  public void SetValue(double value)
  {
    CurrentValue = value;
    StateHasChanged();
  }
}