<div>
  @Title: @CurrentValue
</div>

<div style="width: 100px">
  <InputNumber TValue="double"
               InitialValue="@InitialValue"
               @bind-Value="@CurrentValue"
               AllowNegativeNumbers="false"
               ParsingErrorMessage="@($"Enter the double value between {Min} and {Max}")"
               Title="@Title"
               Max="@Max"
               Min="@Min" />
</div>

@code {
  [Parameter] public required double InitialValue { get; init; }
  [Parameter] public required string Title { get; init; }
  [Parameter] public required double Max { get; init; }
  [Parameter] public required double Min { get; init; }

  public double CurrentValue { get; private set; }

  protected override void OnParametersSet()
  {
    CurrentValue = InitialValue;
    base.OnParametersSet();
  }
}